.titleCell {
    text-align: right;    
}

.header {
    font-size: larger;
    padding: 8px;
}

.rf-pp-hdr-cntrls a {
    padding: 2px 2px 2px 8px;
}

.rf-msgs-inf {
    color: green;
}

.update {
   margin-top : 10px;
   padding: 8px 0px;
}

.update div {
   color: #006400;
   padding: 6px 4px;
}

.mensajeExitoGral {
	display: block;	
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	color: #268E00;
}
.
mensajeExitoGral {
	display: block;	
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	color: #FF4040;
}

.mensajeError {
	display: block;	
	font-size: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 22px;
	text-align: left;
	color: #FF4040;
}


.botones {
    margin-top:10px;
    margin-bottom:10px;
    padding:10px;
    text-align: center;
    clear:both;
}

.boton {
	margin:10px 5px;
	text-align: center;	
	text-decoration: none;
	padding: 3px 16px;
  	font-size: 13px; 
  	color: #FFFFFF; 
  	font-weight:bold; 
  	cursor:pointer;
  	font-family: verdana, arial, sans-serif;
  	background-color: #A5657F; /*#AF4C4C;*/
}